# ============================================================
# VARIABLES D'ENVIRONNEMENT — LUXE.MA
# Railway MySQL + JWT
# ============================================================

# SERVER
PORT=3000
NODE_ENV=production

# JWT Secret
JWT_SECRET=843996

# ── MYSQL (Railway fournit ces variables automatiquement) ──
MYSQLHOST=${RAILWAY_PRIVATE_DOMAIN}
MYSQLPORT=3306
MYSQLUSER=root
MYSQLPASSWORD=avfdbAbzmtqzwczOawUgsiWzuhTzQJey
MYSQLDATABASE=railway

# ── MYSQL URLs ──
MYSQL_DATABASE=railway
MYSQL_ROOT_PASSWORD=avfdbAbzmtqzwczOawUgsiWzuhTzQJey
MYSQL_URL=mysql://${MYSQLUSER}:${MYSQL_ROOT_PASSWORD}@${RAILWAY_PRIVATE_DOMAIN}:3306/${MYSQL_DATABASE}
MYSQL_PUBLIC_URL=mysql://${MYSQLUSER}:${MYSQL_ROOT_PASSWORD}@${RAILWAY_TCP_PROXY_DOMAIN}:${RAILWAY_TCP_PROXY_PORT}/${MYSQL_DATABASE}
